/** CSS Reset **/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/** Scrollbar **/
::-webkit-scrollbar {
  width: 0;
  -webkit-appearance: none;
}

/** Fonts **/

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.woff')
    format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Semibold.woff')
    format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Bold.woff')
    format('woff');
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  font-family: 'Proxima Nova', Sans-Serif;
  font-weight: 400;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #101114;
  border: 2px solid red;
}

